In [2]:
import pandas as pd
df = pd.read_csv('SIK_ISEA_Personen.csv', sep= ";")

In [3]:
df.dtypes

HAUPTNR                int64
NUTZUNGSLIZENZ        object
BEREICH               object
TYPUS                 object
NAME_VORNAME          object
NAME                  object
VORNAME               object
NAMENSZUSATZ          object
GEBURTSJAHR          float64
GEBURTSDATUM          object
GEBURTSORT            object
GEBURTSLAND           object
STERBEJAHR           float64
STERBEORT             object
STERBELAND            object
STERBEDATUM           object
LEBENSDATEN           object
GND                   object
HLS_ID               float64
SIKART_LINK           object
BEARBEITUNGSTIEFE     object
dtype: object

In [ ]:
# Spaltennamen ermitteln

In [4]:
df.columns

Index(['HAUPTNR', 'NUTZUNGSLIZENZ', 'BEREICH', 'TYPUS', 'NAME_VORNAME', 'NAME',
       'VORNAME', 'NAMENSZUSATZ', 'GEBURTSJAHR', 'GEBURTSDATUM', 'GEBURTSORT',
       'GEBURTSLAND', 'STERBEJAHR', 'STERBEORT', 'STERBELAND', 'STERBEDATUM',
       'LEBENSDATEN', 'GND', 'HLS_ID', 'SIKART_LINK', 'BEARBEITUNGSTIEFE'],
      dtype='object')

In [ ]:
# Jeden Begriff der Spalte Geburtsort ausgeben

In [7]:
df['GEBURTSORT'].unique()

array(['Affoltern am Albis', 'Ardon', 'Bulle', ..., 'Zell a. H.',
       'Genève (Canton)', 'Rostock'], dtype=object)

In [8]:
# Anzahl Geburtsorte ermitteln

In [11]:
df['GEBURTSORT'].nunique()

3065

In [13]:
df['GEBURTSLAND'].unique()

array(['CH', 'E', 'F', 'D', 'I', 'USA', nan, 'SK', 'H', 'A', 'CZ', 'RUS',
       'MOC', 'UY', 'ET', 'PL', 'FL', 'R', 'ZA', 'S', 'RCH', 'IND', 'SF',
       'MA', 'HR', 'BIH', 'AUS', 'CI', 'B', 'VD', 'CDN', 'GB', 'BRD',
       'BR', 'NL', 'LA MARTINIQUE', 'DK', 'LV', 'EST', 'IRQ', 'IR', 'RA',
       'GR', 'GEO', 'AFG', 'MEX', 'TR', 'RO', 'IL', 'YU', 'P', 'BRA',
       'ESTLAND', 'VN', 'SYR', 'YV', 'DZ', 'RB', 'SLO', 'LETTLAND', 'J',
       'BG', 'CAN', 'CO', 'U', 'LT', 'IRL', 'JA', 'UKR', 'GH',
       'SCHLESIEN', 'C', 'RC', 'CR', 'CGO', 'TN', 'PI', 'GÉORGIE', 'KOR',
       'RL', 'CS', 'MC', 'RI', 'SGP', 'NIG', 'EAT', 'CORÉE DU SUD', 'UA',
       'BALTIKUM', 'VIETNAM', 'L', 'NZ', 'BA', 'N', 'PE', 'ZIMBABWE',
       'ESTONIE', 'ZENTRALAFRIKA', 'TX', 'VS', 'CAM', 'MK', 'PTM',
       'MACEDONIA', 'USSR', 'CAMÉROUN', 'SEN', 'SCG', 'TAIWAN',
       'WEISSRUSSLAND', 'NEPAL', 'EC', 'BOL', 'GCA', 'MAZEDONIEN',
       'INDONESIEN', 'IT', 'Z', 'T', 'SN'], dtype=object)